@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'react-big-calendar/lib/css/react-big-calendar.css';

html,
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	background-color: #ecebfe !important;
}

/* .App {
	padding: 30px;
	min-width: 100%;
	min-height: 100vh;
	background-color: blue;
} */

.menuItem {
	background: #5db7ad !important;
}
